<%= semantic_form_for(box) do |form| %>
  <% if box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
        <% box.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Length proc (max: proc { 4 }, min: proc { 4 })</legend>

    <ul class="list-unstyled">
      <%= form.input :string_length_maximum_proc, wrapper_tag: 'div', wrapper_html: { class: 'form-group' }, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
      <%= form.input :string_length_minimum_proc, wrapper_tag: 'div', wrapper_html: { class: 'form-group' }, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
    </ul>
  </fieldset>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
