<%= simple_form_for(box, validate: true) do |form| %>
  <% if box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
        <% box.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Length (in: 5..8, is: 3, max: 4, min: 4)</legend>

    <%= form.input :string_length_maximum_proc %>
    <%= form.input :string_length_minimum_proc %>
  </fieldset>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
