<%= form_with(model: box, local: true, validate: true) do |form| %>
  <% if box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(box.errors.count, "error") %> prohibited this box from being saved:</h2>

      <ul>
        <% box.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Absence / Presence</legend>

    <div class="field">
      <%= form.label :string_absence %>
      <%= form.text_field :string_absence %>
    </div>

    <div class="field">
      <%= form.label :string_presence %>
      <%= form.text_field :string_presence %>
    </div>

    <div class="field">
      <%= form.label :textarea_presence %>
      <%= form.text_area :textarea_presence %>
    </div>

    <div class="field">
      <%= form.label :select_presence %>
      <%= form.select :select_presence, %w[option1 option2], prompt: true %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Acceptance (string: 'yes')</legend>

    <div class="field">
      <%= form.label :string_acceptance %>
      <%= form.text_field :string_acceptance %>
    </div>

    <div class="field">
      <%= form.label :boolean_acceptance %>
      <%= form.check_box :boolean_acceptance %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Confirmation</legend>

    <div class="field">
      <%= form.label :string_confirm %>
      <%= form.text_field :string_confirm %>
    </div>

    <div class="field">
      <%= form.label :string_confirm_confirmation %>
      <%= form.text_field :string_confirm_confirmation %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Exclusion / Inclusion (%w[www us ca jp])</legend>

    <div class="field">
      <%= form.label :string_exclusion %>
      <%= form.text_field :string_exclusion %>
    </div>

    <div class="field">
      <%= form.label :string_inclusion %>
      <%= form.text_field :string_inclusion %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Format (/\A[A-Z]+\z/)</legend>

    <div class="field">
      <%= form.label :string_format_with %>
      <%= form.text_field :string_format_with %>
    </div>

    <div class="field">
      <%= form.label :string_format_without %>
      <%= form.text_field :string_format_without %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Length (in: 5..8, is: 3, max: 4, min: 4)</legend>

    <div class="field">
      <%= form.label :string_length_in %>
      <%= form.text_field :string_length_in %>
    </div>

    <div class="field">
      <%= form.label :string_length_is %>
      <%= form.text_field :string_length_is %>
    </div>

    <div class="field">
      <%= form.label :string_length_maximum %>
      <%= form.text_field :string_length_maximum %>
    </div>

    <div class="field">
      <%= form.label :string_length_minimum %>
      <%= form.text_field :string_length_minimum %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Numericality (gt: 3, gte: 3, eq: 4, lt: 5, lte: 5, neq: 1)</legend>

    <div class="field">
      <%= form.label :integer_numericality_even %>
      <%= form.text_field :integer_numericality_even %>
    </div>

    <div class="field">
      <%= form.label :integer_numericality_greater_than %>
      <%= form.text_field :integer_numericality_greater_than %>
    </div>

    <div class="field">
      <%= form.label :integer_numericality_greater_than_or_equal_to %>
      <%= form.text_field :integer_numericality_greater_than_or_equal_to %>
    </div>

    <div class="field">
      <%= form.label :integer_numericality_equal_to %>
      <%= form.text_field :integer_numericality_equal_to %>
    </div>

    <div class="field">
      <%= form.label :integer_numericality_less_than %>
      <%= form.text_field :integer_numericality_less_than %>
    </div>

    <div class="field">
      <%= form.label :integer_numericality_less_than_or_equal_to %>
      <%= form.text_field :integer_numericality_less_than_or_equal_to %>
    </div>

    <div class="field">
      <%= form.label :integer_numericality_odd %>
      <%= form.text_field :integer_numericality_odd %>
    </div>

    <div class="field">
      <%= form.label :integer_numericality_other_than %>
      <%= form.text_field :integer_numericality_other_than %>
    </div>

    <div class="field">
      <%= form.label :float_numericality_only_integer %>
      <%= form.text_field :float_numericality_only_integer %>
    </div>

    <div class="field">
      <%= form.label :integer_numericality_other_than_other_field %>
      <%= form.text_field :integer_numericality_other_than_other_field %>
    </div>

    <div class="field">
      <%= form.label :integer_numericality_other_field %>
      <%= form.text_field :integer_numericality_other_field %>
    </div>
  </fieldset>

  <hr>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :a_date %>
    <%= form.date_select :a_date %>
  </div>

  <div class="field">
    <%= form.label :a_datetime %>
    <%= form.datetime_select :a_datetime %>
  </div>

  <div class="field">
    <%= form.label :a_time %>
    <%= form.time_select :a_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
